<div *ngIf="courseDetail">
  <div *ngIf="courseDetail" class="course-details container">
    <div class="row">
      <!-- Course Title Section with Gradient Effect -->
      <div class="title-color text-center">
        <h1 class="title-gradient mb-3 text-center">
          {{ courseDetail.title }}
        </h1>
        <p class="mb-0">Price: ${{ courseDetail.price }}</p>
        <p>Course Type: {{ courseDetail.courseType }}</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Course Meta Information -->
          <div class="course-meta card mb-4 shadow-sm border-0">
            <div class="card-body p-4">
              <h2 class="meta-heading">Description</h2>
              <p>{{ courseDetail.description }}</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Course Meta Information -->
          <div class="course-meta card mb-4 shadow-sm border-0">
            <div class="card-body p-4">
              <h2 class="meta-heading">Category</h2>
              <p>
                <strong>{{ courseDetail.category.categoryName }}</strong>
              </p>
              <p>{{ courseDetail.category.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Left side: Course Title, Meta Information -->
      <div class="col-md-6">
        <!-- Course Meta Information -->
        <div class="course-meta card mb-4 shadow-sm border-0">
          <div class="card-body p-4">
            <h2 class="meta-heading">Course Details</h2>
            <p><strong>Duration:</strong> {{ courseDetail.duration }} hours</p>
            <p>
              <strong>Seats Available:</strong>
              {{ courseDetail.seatsAvailable || "Unlimited" }}
            </p>
            <p>
              <strong>Start Date:</strong> {{ courseDetail.startDate | date }}
            </p>
            <p><strong>End Date:</strong> {{ courseDetail.endDate | date }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Course Meta Information -->
        <div class="course-meta card mb-4 shadow-sm border-0">
          <div class="card-body p-4">
            <h2 class="meta-heading">User Rating</h2>
            <p>Average Rating: {{ courseDetail.userRating.averageRating }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!courseDetail">
    <p>Uploading soon...</p>
  </div>
</div>
